@import "normalize.css";

html,
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 14px;
  color: #404040;
  overflow-x: hidden;
}

a:link, a:visited {
  color: #0f88eb;
  text-decoration: none;
}
a:hover, a:active {
  color: #0079f4;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-spacing: 0;
}

del {
  font-size: 13px;
  color: #96a3b3;
}